@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
   /* font-family: 'Barlow', sans-serif; */
  /* font-family: 'Fraunces', sans-serif; */
}

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --graphic-color: hsl(167, 40%, 24%);
  --photography-color: hsl(198, 62%, 26%);
  --footer-color: hsl(168, 34%, 41%);
  --darkest: hsl(212, 27%, 19%);
  --Dark-gray: hsl(213, 9%, 39%);
  --gray: hsl(232, 10%, 55%);
  --light-gary: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --blue: #3ebfff;
  --light-green: #90d4c5;
}

nav{
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    height: 3rem;
    color: var(--White);
    }

    .nav__list{
        display: flex;
        }

        .nav--link{
        font-family: 'Barlow' , sans-serif;
        font-size: 1.1;  
        font-weight: 300;  
        margin-right: 1rem;
        }
        header {
            background-image: url('./images/mobile/image-header.jpg');
       height: 100vh;
       background-color: var(--blue);
       background-position: 50% 60%;
    background-repeat: no-repeat;
       
       color: var(--White);
        }
        .header--title{
            text-align: center;
            font-family: 'Fraunces', sans-serif;
            font-size: 4rem;
            padding: 2rem;
        }
.arrow-header{
    position: absolute;
    left: 50%;
    top: 60%;
}

        .box__container{
           display: flex;

        }
        .box__text{
           
           width: calc(100% / 2);
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .text-container{
           max-width: 445px;
        }
        .box--title{
            font-family: 'Fraunces', sans-serif;
        margin-bottom: 1rem;
        }
        .box__para{
            font-family: 'Barlow', sans-serif;
            line-height: 1.5;
            margin-bottom: 1rem;
            font-size: 1.1rem;
            color: var(--gray);
        }
        .box-link{
            font-family: 'Fraunces';
           text-transform: uppercase;
        
        }
        .box__img--container{
        
            width: calc(100% / 2);
            
        }
        .box-img{
           width: 100%;
           height: 100%;
        }
        .reversed-row{
            flex-direction: row-reverse;
        }
       
        .box__graphic{
width: calc(100% / 2);
           
        }

        .box__photo{
            width: calc(100% / 2);
            height: 90vh;
        
           
        }
        .box__photo{

           position: relative;
            
        }
        .title-graphic{
            color: var(--graphic-color);
        }
        .graphic__text{
            
            position: absolute;
            top: 70%;
            left: 50%;
            text-align: center;
            transform: translate(-50%);
            
           
        }
        .para-graphic{
            font-size: 1rem;
            color: var(--graphic-color);
        }

        .title-photo{
            color: var(--photography-color);
        }
        .para-photo{
            font-size: 1rem;
            color: var(--photography-color);
        }

        .testimonial-title{
            
          font-family: 'Fraunces';
          text-transform: uppercase;
          letter-spacing: 10px;
          color: var(--gray);
          font-size: 20px;
            margin-bottom: 3rem;
           
        }
        .testimonial-section{
            padding-top: 5rem;
            text-align: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .customer-container{
            padding: 0 3rem;
            
            display: flex;
        }
        .testimonial-container{
margin: 1rem;

        }
        .testimonial-img{
            width: 4.5rem;
            margin: 2rem;
            border-radius: 50%;
        }
        .testimonial__para{
            
            padding: 2rem;
            line-height: 1.5;
            font-family: 'Barlow', sans-serif;
            font-size: 1.1rem;
            color: var(--gray);
        }
        .customer-name{
            padding: 1rem;
            font-family: 'Fraunces', sans-serif;
            font-weight: 900;
        }
        .customer-job{
            padding-bottom: 2rem;
            font-family: 'Barlow', sans-serif;
            color: var(--gray);
            font-size: 14px;
        }

        /*GALLERY SECTION*/

        
        .gallery__section{
            display: flex;
        }
        .gallery-pic{
            width: calc(100% / 4);
            
        }
        .gallery-img{
            width: 100%;
        }
         /*GALLERY SECTION*/

         /*FOOTER STARTS */

         footer{
            background-color: var(--light-green);
            margin-top: 0;
            color: var(--footer-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 3rem 0;
            margin-top: -1rem;
         }

         .footer__list{
            display: flex;
         }
         .footer--link{
            margin: 3rem 1rem;
         }

         .icon{
            margin: 10px;
            margin-bottom: 1rem;
         }

          /*FOOTER ENDS */